<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <style>
     .pd-top-20{
         padding-top: 20% !important;
         
     }
     
     body {
       background: #f2f5f7;
       font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
       font-color: #555555;
     }
   </style>
   <div class="container pd-top-20 text-center">
   <img src="https://www.tapclicks.com/signup/img/TapClicksFlatLogo.png"/>
   <h3>Denied. Authentication Failed.</h3>
   <h4>Closing Tab in 5 seconds<h4>
   </div>
   
   <script>
   
//    (function() {
//       setTimeout(function(){
//        self.close();
//      }, 5000)
//    })();

     setTimeout(function(){
     console.log("closing")
       top.window.close();
     }, 5000)
   
   </script>